<h1>Сброс пароля</h1>
<p>Чтобы сбросить пароль, нажмите на ссылку ниже:</p>
<%= link_to "Сброс пароля", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>Срок действия этой ссылки истекает через два часа</p>
<p>
  Если вы не запрашивали сброс пароля, проигнорируйте это письмо и ваш пароль.
  рд останется как есть.
</p>