= link_to 'Notes', notes_path, class: 'btn btn-rosy'
= link_to "Reg user", new_user_path, class: "btn btn-rosy", data: { turbo_frame: "modal" }
= link_to "login user", new_session_path, class: "btn btn-rosy", data: { turbo_frame: "modal" }